body {
    font-family: Arial;
    background-color: #F8FFF7; }

h1 {
    color: black;
    background-color: #00A36C;
    padding: 20px; }

h2 {
    color: black;
    background-color: #5FDF9D;
    padding: 20px; }
p {
    padding-left: 20px;
    padding-right: 20px; }